.about{
    position:relative;
    margin:70px 5%;
    padding:90px 8%;
    background:#050816;
    border:1px solid rgba(108,99,255,.2);
    border-radius:30px;
    overflow:hidden;
    color:white;
    transition:.4s;
}


.about:hover{
    border-color:#6c63ff;
    box-shadow:0 0 40px rgba(108,99,255,.2);
}


/* Background Curves */

.curve-one{
    position:absolute;
    width:300px;
    height:300px;
    border:2px solid rgba(108,99,255,.08);
    border-left:transparent;
    border-bottom:transparent;
    border-radius:50%;
    top:-60px;
    right:-40px;
    transform:rotate(25deg);
}


.curve-two{
    position:absolute;
    width:220px;
    height:220px;
    border:2px solid rgba(56,189,248,.08);
    border-right:transparent;
    border-top:transparent;
    border-radius:50%;
    bottom:-40px;
    left:-30px;
    transform:rotate(-20deg);
}



/* Title */

.about h2{
    text-align:center;
    font-size:42px;
    margin-bottom:60px;
    font-weight:700;
    letter-spacing:1px;
}



/* Cards Layout */

.about-content{

    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:30px;

}


.wide{
    grid-column:1 / 3;
}



.about-card{

    background:rgba(17,24,39,.85);
    border:1px solid #374151;
    border-radius:18px;
    padding:28px;

    backdrop-filter:blur(10px);

    transition:.35s;

    display:flex;
    flex-direction:column;
    justify-content:center;

}



.about-card:hover{

    transform:translateY(-10px);

    border-color:#6c63ff;

    box-shadow:
    0 15px 30px rgba(108,99,255,.25);

}



.about-card h3{

    color:#38bdf8;
    margin-bottom:15px;
    font-size:22px;

}



.about-card p{

    color:#d1d5db;
    line-height:1.8;
    font-size:16px;

}


@media(max-width:768px){

.about{
    width:100%;
    margin:20px 0;
    padding:50px 20px;
    border-radius:0;
}


.about h2{
    font-size:32px;
    margin-bottom:35px;
}


.about-content{
    display:flex;
    flex-direction:column;
    gap:20px;
    width:100%;
}


.about-card,
.wide{

    width:100%;
    padding:22px;
    border-radius:18px;

}


.about-card h3{
    font-size:21px;
}


.about-card p{

    font-size:15px;
    line-height:1.7;

}


.curve-one,
.curve-two{
    display:none;
}

}